#n1 ul
{
    float:right;
    margin-top:30px;

}
#n1 ul li{
    display: inline;
    margin-right:100px;
}
#n1 ul li a
{
    color:black;
    text-decoration: none;
    font-size:20px;
}
#n2 ul
{
    float:right;
    margin-top:30px;

}
#n2 ul li{
    display: inline;
    margin-right:100px;
}
#n2 ul li a
{
    color:blueviolet;
    text-decoration: none;
    font-size:20px;
}
#n3 ul
{
    float:right;
    margin-top:30px;

}
#n3 ul li{
    display: inline;
    margin-right:100px;
}
#n3 ul li a
{
    color:red;
    text-decoration: none;
    font-size:20px;
}
#i1
{
margin-left:20px;
float: left;
margin-top:30px;

}
#i2
{
margin-left:90px;
float: left;
margin-top:300px;

}
#i3
{
    margin-left:150px;
    float: left;
    margin-top:30px;


}
#i4
{
    margin-right:50px;
    float:right;
    margin-top:300px;

}