#topbar
{
background-color:;
width:100%;
height:10%;
}
#topbar ul
{
    float:right;
    margin-top:30px;

}
#topbar ul li
{
    
    display: inline;
    margin-right:70px;
    font-size:20;

}
#topbar ul li a
{
    text-decoration: none;
    color: black;
}
#apple1
{
    width:2%;
    height:30px;
    float:left;
    margin-left: 20px;
}
#apple2
{   
        width:2%;
        height:10px;
        margin-left:90px;
        float:left;

}
#apple3
{
    width:2px;
    height:2px;
    float:left;
    margin-left:50px;
}
#apple4
{
    width:30%;
    height:350px;
    margin-top:10px;
    float:left;

}
#apple5
{
    width:30%;
    height:35px;
    margin-top:10px;
    float:right;
}