#topbar
{
    background-color:black;
    width:100%;
    height:10%;

}
#body
{
    background-color:aliceblue;
}
#container
{
    height:100%;
    width:70%;
    margin: 0% auto;
}
#header
{
    background-color:aliceblue; 
    height:10%;
}
#image
{
width: auto;
height:100%;
}
#header ul
{
    float:right;
    margin-top:50px;
}
#header ul li
{
    display: inline;
    margin-right: 25px;
    font-size:20;
}
#header ul li a 
{
text-decoration: none;
color:black;
}
#content1
{
    background-color: indianred;
    width:30%;
    height:350px;
    margin-top:20px;
    float:left;
}
#content2
{
    background-color:orchid;
    width:30%;
    height:350px;
    margin-top:20px;
    float:left;
    margin-left:50px;

}
#content3
{
    background-color:skyblue;
    width:30%;
    height:350px;
    margin-top:20px;
    float:right;
    
}