#p1
{
    background-color:black;
    width:100%;
    height:10%;
}
#p1 ul
{
    float:right;
    margin-top:30px;

}
#p1 ul li{
    display: inline;
    margin-right:100px;
}
#p1 ul li a
{
    color: antiquewhite;
    text-decoration: none;
}